In [1]:
import pandas as pd
import numpy as np
import os
import geopandas as gpd

In [ ]:
os.chdir(r" ")

In [ ]:
df = pd.read_csv(r"Indian Population Raw ", header= 1)
df.head()

In [9]:
print(df.columns)

Index(['State  Code', 'District Code', 'Sub District Code',
       'India/ State/ Union Territory/ District/ Sub-district', 'Name',
       'Total/\nRural/\nUrban', 'Number of villages', 'Unnamed: 7',
       'Number of towns', 'Number of households', 'Population', 'Unnamed: 11',
       'Unnamed: 12', 'Area\n (In sq. km)', 'Population per sq. km.',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66',
       'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70',
       'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74',
       'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78',
       'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82',
       'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85'],
      dtype='object')

In [16]:
df_state_pop = df[(df['India/ State/ Union Territory/ District/ Sub-district'] == 'STATE') & 
                 (df['Total/\nRural/\nUrban'] == 'Total')]

df_state_pop.head()
df_state_pop.to_csv('Indian Population Statewise.csv')

In [18]:
df_state_pop= pd.read_csv('Indian Population Statewise.csv')
df_state_pop.head()

,Unnamed: 0,State Code,District Code,Sub District Code,India/ State/ Union Territory/ District/ Sub-district,Name,Total/\nRural/\nUrban,Number of villages Inhabited,Number of villages unhabited,Number of towns,Number of households,Population,Male Population,Female Population,Area\n (In sq. km),Population per sq. km.
0,5,1,0,0,STATE,JAMMU & KASHMIR @&,Total,"6,337",216,122,"21,19,718","1,25,41,302","66,40,662","59,00,640",222236,124
1,320,2,0,0,STATE,HIMACHAL PRADESH,Total,"17,882","2,808",59,"14,83,280","68,64,602","34,81,873","33,82,729",55673,123
2,710,3,0,0,STATE,PUNJAB,Total,"12,168",413,217,"55,13,071","2,77,43,338","1,46,39,465","1,31,03,873",50362,551
3,1004,4,0,0,STATE,CHANDIGARH,Total,5,0,6,"2,41,173","10,55,450","5,80,663","4,74,787",114,"9,258"
4,1013,5,0,0,STATE,UTTARAKHAND,Total,"15,745","1,048",115,"20,56,975","1,00,86,292","51,37,773","49,48,519",53483,189

In [ ]:
ind_shp = gpd.read_file(r"India_State_Boundary.shp")
ind_shp.crs
print(ind_shp.columns)
ind_shp.head()

Index(['Name', 'Type', 'geometry'], dtype='object')

,Name,Type,geometry
0,West Bengal,State,"MULTIPOLYGON (((88.01861 21.57278, 88.01889 21..."
1,Andaman & Nicobar,Union Territory,"MULTIPOLYGON (((92.90124 12.91071, 92.90157 12..."
2,Chandigarh,Union Territory,"POLYGON ((76.77232 30.7942, 76.77286 30.79343,..."
3,Daman and Diu and Dadra and Nagar Haveli,Union Territory,"MULTIPOLYGON (((72.96339 20.33227, 72.9639 20...."
4,Delhi,Union Territory,"POLYGON ((77.10591 28.87005, 77.10668 28.86989..."

In [27]:
state_mapping = {}
for state in ind_shp['Name']:
    state_mapping[state.upper()] = state

In [ ]:
df_state_pop_copy = df_state_pop.copy()
df_state_pop_copy['Name'] = df_state_pop_copy['Name'].map(lambda x: state_mapping.get(x, x))
df_state_pop_copy.head()

df_state_pop_copy.to_csv('Indian Population.csv')

In [32]:
print(ind_shp['Name'])

0                                  West Bengal
1                            Andaman & Nicobar
2                                   Chandigarh
3     Daman and Diu and Dadra and Nagar Haveli
4                                        Delhi
5                                      Haryana
6                                    Jharkhand
7                                    Karnataka
8                                       Kerala
9                                  Lakshadweep
10                              Madhya Pradesh
11                                 Maharashtra
12                                  Puducherry
13                                   Tamilnadu
14                               Chhattishgarh
15                                   Telengana
16                              Andhra Pradesh
17                                         Goa
18                            Himachal Pradesh
19                                      Punjab
20                                   Rajasthan
21                                     Gujarat
22                                 Uttarakhand
23                               Uttar Pradesh
24                                      Sikkim
25                                       Assam
26                           Arunachal Pradesh
27                                    Nagaland
28                                     Manipur
29                                     Mizoram
30                                     Tripura
31                                   Meghalaya
32                                       Bihar
33                                      Ladakh
34                           Jammu and Kashmir
35                                      Odisha
Name: Name, dtype: object

In [ ]:
pop_data = pd.read_csv(r'Indian Population.csv')
pop_data.head()

,Unnamed: 0.1,Unnamed: 0,State Code,District Code,Sub District Code,India/ State/ Union Territory/ District/ Sub-district,Name,Total/\nRural/\nUrban,Number of villages Inhabited,Number of villages unhabited,Number of towns,Number of households,Population,Male Population,Female Population,Area\n (In sq. km),Population per sq. km.
0,0,5,1,0,0,STATE,Jammu and Kashmir,Total,"6,337",216,122,"21,19,718","1,25,41,302","66,40,662","59,00,640",222236,124
1,1,320,2,0,0,STATE,Himachal Pradesh,Total,"17,882","2,808",59,"14,83,280","68,64,602","34,81,873","33,82,729",55673,123
2,2,710,3,0,0,STATE,Punjab,Total,"12,168",413,217,"55,13,071","2,77,43,338","1,46,39,465","1,31,03,873",50362,551
3,3,1004,4,0,0,STATE,Chandigarh,Total,5,0,6,"2,41,173","10,55,450","5,80,663","4,74,787",114,"9,258"
4,4,1013,5,0,0,STATE,Uttarakhand,Total,"15,745","1,048",115,"20,56,975","1,00,86,292","51,37,773","49,48,519",53483,189

In [5]:
joined_df = ind_shp.merge(pop_data, left_on='Name', right_on='Name', how='left')
joined_df.head()
joined_df.columns

Index(['Name', 'Type', 'geometry', 'Unnamed: 0.1', 'Unnamed: 0', 'State  Code',
       'District Code', 'Sub District Code',
       'India/ State/ Union Territory/ District/ Sub-district',
       'Total/\nRural/\nUrban', 'Number of villages Inhabited',
       'Number of villages unhabited', 'Number of towns',
       'Number of households', 'Population', 'Male Population',
       'Female Population', 'Area\n (In sq. km)', 'Population per sq. km.'],
      dtype='object')

In [6]:
joined_df = joined_df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0','District Code', 'Sub District Code','Number of villages unhabited', 'Number of towns','Number of households','Total/\nRural/\nUrban'])

In [ ]:
joined_df.to_file('Indian_State_Shapefile.shp')